.logo {
    background-image: url('../images/h.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: auto 0;
}

.text {
    text-align: center;
    color: white;
}

.text span {
    font-size: 30px;
}

.middle{
    background-image: url('../images/s.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: auto 0;
}
.middle {
    color: white;
    text-align: center;
    padding-top: 200px;
    line-height: 40px;
}

.row {
    padding-left: 78px;
}

#form {
    background-image: url(../images/c.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: auto 0;

}
#form input{
    background-color: transparent;
    border: white 1px solid;
    margin: 10px 0 10px 0;
    width: 380px;
    color: white;

}
#form textarea{
    background-color: transparent;
    border: white 1px solid;
    color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}
.show1 {
    display: none;
}
.show2 {
    display: none;
}
.show3 {
    display: none;
}

.portfolio {
    border-top: 1px solid grey;
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: inherit;
    color: black;
    font-family: "Poppins";
    font-weight: bold;
}

#portfolio {
    max-width: 80%;
}
