.logo {
    background-image: url('../images/h.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}

.text {
    text-align: center;
    position: relative;
    color: white;
    z-index: 1;

}
.text span {
    font-size: 30px;
    font-weight: 10000;
}